#include "resources.h"
#include <windows.h>

#pragma code_page(65001)

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
VS_VERSION_INFO VERSIONINFO
    PRODUCTVERSION  APP_VERSION
    FILEVERSION     APP_VERSION
    FILEOS          0x40004
    FILETYPE        0x1
    FILESUBTYPE     0x0
{
    BLOCK "StringFileInfo"
    {
        BLOCK "040904E4"
        {
            VALUE "CompanyName", "rh2357a"
            VALUE "LegalTrademarks", "rh2357a"
            VALUE "LegalCopyright", "rh2357a"
            VALUE "ProductName", "GSEditor"
            VALUE "FileDescription", "포켓몬스터 금 버전 에디터"
            VALUE "ProductVersion", APP_VERSION_STR
            VALUE "OriginalFilename", "GSEditor.exe"
        }
    }
    BLOCK "VarFileInfo"
    {
        VALUE "Translation", 0x412, 1200
    }
}

RES_ID_APP_MANIFEST RT_MANIFEST "app.manifest"
RES_ID_APP_ICON     ICON        "app.ico"
RES_ID_RGBASM       RCDATA      "exe/rgbasm.exe"
RES_ID_RGBLINK      RCDATA      "exe/rgblink.exe"
RES_ID_RGBFIX       RCDATA      "exe/rgbfix.exe"
